(in-package :user) 
(defvar core-name "etps")
(defvar sys-dir "whatever/tps/") 
(defvar save-file "whatever/tps/etps") 
(defvar compiled-extension 
(or (if (member :lucid *features*) "lbin") 
    (if (or (member (find-symbol "KCL") *features*) 
	    (member (find-symbol "IBCL") *features*)) "o") 
    (if (member :cmu *features*) "fasl") 
    (if (member :excl *features*) "fasl")
    (if (member :allegro *features*) "fasl")
    "fasl")) 
(defvar mail-remarks nil) 
(defvar remarks-file "tps3.remarks") 
(defvar news-dir "whatever/tps/") 
(defvar patch-file-dir "whatever/tps/")  
(defvar ini-file-dir "whatever/tps/") 
(defvar compiled-dir  "whatever/tps/bin/") 
(defconstant expert-list '("andrews" "pfenning" "pa01" "cebrown" "fp" "local1" "mathweb" "mszudzik" "theorem")) 
(defconstant building-start-time "Thu Nov 14 14:49:43 EST 2002") 
(defvar source-dir "whatever/tps/lisp/") 
(defvar source-path (list compiled-dir source-dir)) 
(defvar java-comm "cd whatever/tps/java/ ; java TpsStart") 
(defvar source-extension "lisp") 
(pushnew :ETPS *features*)
#+lucid (progn (push compiled-extension *load-binary-pathname-types*) (push source-extension *load-source-pathname-types*)  (setq *ignore-binary-dependencies* t)  (proclaim '(optimize (compilation-speed 1) (speed 3) (safety 3))))
;;; Following sets up CTRL-G as interrupt character in CMU Lisp
#+(and :cmu (not :new-compiler)) (lisp::enable-interrupt 3 #'lisp::ih-sigquit 7)
;;; Preambles used when printing proofs to a file in scribe or tex format
(setq *print-case* :upcase)  #+ibcl(setq si::*default-time-zone* 5) #+ibcl(setq si::*notify-gbc* t) #+ibcl(setq si::*ignore-eof-on-terminal-io* t) #+:excl(setq *gcprint* nil) #+:allegro(setq excl:*global-gc-behavior* :auto)

