(in-package :user)
(defvar core-name "tps3")
(defvar sys-dir "C:\\Program Files\\TPS\\")
(defvar save-file 
  (if (member :allegro *features*)
      "C:\\Program Files\\TPS\\tps3.dxl"
    "C:\\Program Files\\TPS\\tps3"))

(defvar compiled-extension (or (if (member :lucid *features*)
				   "lbin")
			       (if (or (member (find-symbol "KCL")
					       *features*)
				       (member (find-symbol "IBCL")
					       *features*)
				       )
				   "o")
			       (if (member :cmu *features*)
				   "fasl")
			       (if (member :excl *features*)
				   "fasl")
			       (if (member :allegro *features*)
				   "fasl")
			       "fasl")
  )

(defvar mail-remarks nil)
(defvar remarks-file "tps3.remarks")
(defvar news-dir "C:\\Program Files\\TPS\\")
(defvar patch-file-dir "C:\\Program Files\\TPS\\")
(defvar ini-file-dir "C:\\Program Files\\TPS\\")
(defvar compiled-dir  "C:\\Program Files\\TPS\\bin\\")
(defconstant expert-list '("andrews"  "pa01" "cebrown" "ABSOLUTE" "local1" "mathweb")
  )
(defconstant building-start-time "Mon May  7 13:21:01 EDT 2001")
(defvar source-dir "C:\\Program Files\\TPS\\lisp\\")
(defvar source-path (list compiled-dir source-dir)
  )
(defvar java-comm "java -classpath C:\\Program Files\\TPS\\java TpsStart")
(defvar source-extension "lisp")
(pushnew :TPS *features*)

#+lucid (progn (push compiled-extension *load-binary-pathname-types*)
	       (push source-extension *load-source-pathname-types*)
	       (setq *ignore-binary-dependencies* t)
	       (proclaim '(optimize (compilation-speed 1)
				    (speed 3)
				    (safety 3)
				    )
			 )
	       )

;;; Following sets up CTRL-G as interrupt character in CMU Lisp
#+(and :cmu (not :new-compiler)
       )
(lisp::enable-interrupt 3 #'lisp::ih-sigquit 7)

;;; Preambles used when printing proofs to a file in scribe or tex format
(setq *print-case* :upcase)
#+ibcl(setq si::*default-time-zone* 5)
#+ibcl(setq si::*notify-gbc* t)
#+ibcl(setq si::*ignore-eof-on-terminal-io* t)
#+:excl(setq *gcprint* nil)
#+:allegro(setq excl:*global-gc-behavior* :auto)


